h1 {
	text-align: center;
	color: white;
}

#tugOfWarContainer {
	position: relative;
	overflow: hidden;
	width: 992px;
	margin-left: auto;
	margin-right: auto;
}

#foreground {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1;
}

#buttonContainer {
	text-align: center;
}

body {
	background-color: #530;
}