h1{
	text-align: center;
}

h2{


	text-align:center;
}

p{


}


body{


	background-color: green;



}


button{

	margin-bottom: 5px;


}


#nameError{

	font-size: 40%;



}

#userError{
	text-align: center;

}

div.sign{
	text-align: center;


}

input[type=text], select {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password], select {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#game {
    margin: auto;
    width: 910px;
}

#chat {
	float: right;
	width: 300px;
    height: 600px;
}

#chat-input {
    width: 305px;
    height: 30px;
}

#message {
    margin: 0px;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
	width: 255px;
    height: 30px;
    float: left;
}

#chatButton {
    margin-left: 5px;
    width: 45px;
    height: 30px;
    float: right;
}

#dialogue {
	width: 100%;
	height: 560px;
}
